.bt
    border-style solid 
    border-width 0.02em solid
    box-shadow soft-shadow
    color #fff
    display inline-block
    font-size 1em
    font-weight 700
    margin 0.2em
    padding 0.6em 1em
    &.bt-green 
        background-color #009688
        border-color #009688