form 
    width 80%
    inputis= 'input[type="search"], input[type="submit"], input[type="text"], select, textarea'
    {inputis}
        display block
        margin 0.8em 0
    texts='input[type="search"], input[type="text"], select, textarea'
    {texts}
        background-color #eee
        border none
        padding 0.8em 0.5em
        width 100%