*
    box-sizing border-box
    font-size 100%
    list-style-type none
    margin 0
    padding 0
    body 
        background-color #eee
    decor="a, a:hover"
    {decor}
        text-decoration none
    texts_roboto="a, p"
    {texts_roboto}
        font-family roboto
    texts_trebuched="h1, h2, h3"
    {texts_trebuched}
        font-family trebuched    
    flex-containers=".container, .main, .main content, .top"
    {flex-containers}
        display flex
    flex_row_containers=".container, .main, .top"
    {flex_row_containers}
        flex-direction row    
    midias="audio, img, iframe, video"
    {midias}
        display inline-block
        width 100% 
    objects_shadow=".bt, .navbar, .top"
    {objects_shadow}
        box-shadow fast-shadow       
     