//imports
@import url('https://fonts.googleapis.com/css?family=Roboto');
//colors
dark-clean= #2D2A32 
//fonts 
roboto= 'Roboto', sans-serif
trebuched= 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
//shadow
soft-shadow=  0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08)    